<h1>Listing Questions</h1>
<div>
<%= link_to 'New Question', new_question_path, class: 'btn btn-default' %>
</div>
</br>
<div>
<table class="table table-striped">
  <tr>
    <th>Вопросы</th>
    <th>Вопросы</th>
    <th>Действия</th>
  </tr>
  <% @questions.each do |question| %>
      <tr>
        <td><%= question.description %></td>
        <td><%= link_to question.answers.count %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %>
        <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
  <% end %>
</table>
</div>