</br>
<div>
  <%= link_to '+ Вариант', new_answer_path, class: 'btn btn-default' %>
</div>
</br>
<div>
  <table class="table table-striped">
    <tr>
      <th>№</th>
      <th>Варианты ответа</th>
      <th>Верно ли?</th>
      <th>Действия</th>
    </tr>
    <% counter = 0 %>
    <% @answer.each do |answer| %>
        <tr class="table-row">
         <td><% counter += 1 %></td>
          <td><%= answer.description %></td>
                <td>
                  <% if answer.status == true   %>
                  <input type="checkbox"  id="<%= answer.id %>" >
                      <% else %>
                  <input type="checkbox" checked="unchecked" id="<%= answer.id %>" >
                      <% end %>
                  </td>
          <td><%= link_to 'Edit', edit_answer_path(answer) %>
            <%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </tr>
    <% end %>

  </table>
</div>