<h3>Тесты</h3>
<%= link_to '+ Create new test', new_test_path, class: 'btn gray-button' %>
<table class="table table-striped">
  <tr>
    <th>Название</th>
    <th>Ссылка</th>
    <th>Количество вопрос:</th>
    <th>Результаты</th>
    <th>Действия</th>
  </tr>
  <% @tests.each do |test| %>
      <tr>
        <td><%= link_to test.name, questions_path(test)%></td>
        <td><%= link_to   %></td>
        <td><%= link_to test.questions.count, questions_path(test) %></td>
        <td><%=  %></td>
        <td>
          <%= link_to 'edit', edit_test_path(test)%>
          <%= link_to 'delete', test_path(test) %>
        </td>
      </tr>
  <% end %>
</table>